body,
h1,
h2,
ul,
p,
ol,
li,
figure,
table,
th,
td {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

#todo-header {
    margin: 0%;
    padding: 0%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#todo-body {
    background-color: #f4f4f4;
}

#footer-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    bottom: 0%;
    position: fixed;
    width: 100%;
    gap: 16px;
    padding: 20px;
}

#todo-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#input-tarefa {
    width: 200px;
    height: 30px;
}

#input-descricao {
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 80px;
    display: flex;
    resize: vertical;
    white-space: pre-wrap;
}

#button-tarefa {
    width: 120px;
    height: 30px;
    background-color: #0074d9;
    color: white;
    border-radius: 12px;
    border: none;
    transition: 0.3s;
}

#button-tarefa:active {
    opacity: 0.8;
}

#button-tarefa:hover {
    width: 140px;
}


ul li {
    list-style: none;
    padding: 4px;
}

.tarefas {
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin: 12px;
    background-color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

p {
    white-space: pre-wrap;
}